
.tab-pane.panel {border-top: 0px !important;}
p, li {font-size: 120%;}
li p {font-size: inherit;}
td, th {font-size: 130%;}
th a {display: block;}
.alert {font-size: 115%; padding: 5px; margin: 5px 0px;}
body { padding-top: 0px; }
.navbar-brand img {width: 28px; height: 28px; margin-top: -3px;}
.navbar {font-weight: normal;}
