h2, h3, h4, h5 {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid #9fcdff;
}

h1 {
    margin-bottom: 1em;
    text-align: center;
    text-shadow: 1px 1px #b0b5b944;
}

.card-body :first-child {
    margin-top: 0;
}

th a {
    display: block;
}

li button, li .btn {
    margin: 2px 0;
}

.btn-lg img.icon {
    width: 1.2em;
    height: 1.2em;
    margin: 0;
    padding: 0;
    vertical-align: text-bottom;
}

.not-amd64 {
    display: none;
}

.footnote {
    border-top: 1px solid #999;
    padding-top: 1em;
    margin-top: 1.5em;
}

.footnote hr {
    display: none;
}

a.alert-link {
    text-decoration: underline;
    font-weight: normal;
}

a.alert-link:hover {
    text-decoration: none;
}

.gallery {
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.gallery a {
    cursor: zoom-in;
}

.gallery .row div {
    margin-bottom: 1.5em;
}

#gallery-lightbox {
    position: fixed;
    z-index: 1000;
    padding-top: 1em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.lightbox-content {
    margin: auto;
    padding: 0;
    max-width: 1600px;
    text-align: center;
}

.lightbox-img {
    max-width: 95%;
}

.lightbox-caption {
    margin: 1em auto;
    color: white;
    width: 80%;
    max-width: 800px;
    text-align: center;
}

.lightbox-toolbar {
    color: white;
    text-align: center;
    position: relative;
    padding-right: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 35px;
    margin-bottom: 0.5em;
    vertical-align: top;
}

.lightbox-close {
    position: absolute;
    right: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.lightbox-prev,
.lightbox-next {
    padding: 0 20px;
}

.lightbox-position {
    padding:0 20px;
    font-size: 25px;
}

.lightbox-close,
.lightbox-prev,
.lightbox-next {
    transition: 0.6s ease;
    cursor: pointer;
    background-color: #5e5e5e;
    border-radius: 5px;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
}

.lightbox-prev:hover,
.lightbox-next:hover,
.lightbox-close:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #999;
}

footer a {
    text-decoration: underline;
}

#toc-wrapper .btn[aria-expanded] small {
    display: inline;
}
#toc-wrapper .btn[aria-expanded] small:first-child {
    display: none;
}
#toc-wrapper .btn[aria-expanded].collapsed small {
    display: none;
}
#toc-wrapper .btn[aria-expanded].collapsed small:first-child {
    display: inline;
}
#toc ul {
    padding: 0 0 0 0.9rem;
}
#toc ul ul{
    padding: 0 0 0 1.2rem;
}

.round-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
}

.opacity-100 {
    opacity: 1;
}

.opacity-90 {
    opacity: 0.9;
}

.opacity-80 {
    opacity: 0.8;
}

.opacity-70 {
    opacity: 0.7;
}

.opacity-60 {
    opacity: 0.6;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-40 {
    opacity: 0.4;
}

.opacity-30 {
    opacity: 0.3;
}

.opacity-20 {
    opacity: 0.2;
}

.opacity-10 {
    opacity: 0.1;
}

.opacity-0 {
    opacity: 0;
}

.card-body :last-child {
    margin-bottom: 0;
}

.card-header :last-child {
    margin-bottom: 0;
}

