<script src="https://gumroad.com/js/gumroad.js"></script>
<div class="card-deck text-center my-5">
{% for tier, type, text, link in data.tiers %}
  {%  set i = loop.index %}
  <div class="card text-white {{ 'bg-dark' if loop.index != 2 else 'bg-success' }} shadow box-shadow">
    <div class="card-header">
      <strong class="lead">{{ tier }}</strong>
      {% if i == 2 %}
        <span class="badge badge-light py-2 mx-3">All Features</span>
      {% endif %}
    </div>
    <div class="card-body">
      <p class="card-text">
        {%  if type == 'gumroad' %}
          <a class="btn btn-outline-light btn-block" href="{{ link }}" target="_blank" data-gumroad-single-product="true">
          <strong>{{ text }}</strong></a>
        {%  else %}
          <a class="btn btn-outline-light btn-block" href="{{ link }}">
            <strong>{{ text }}</strong></a>
        {% endif %}
      </p>
    </div>
    <div class="list-group list-group-flush">
      {% for features in data.features %}
        {% set j = loop.index %}
        {% for link, name, tooltip in features %}
          <a  href="{{ link }}" class="list-group-item bg-secondary text-white px-1 py-2"
            target="_blank"  data-toggle="tooltip" title="{{ tooltip }}">
            {% if j <= i %}<i class="fas fa-check text-success"></i> <u>{{ name }}</u>
            {% else %}<i class="fas fa-times text-danger"></i> <s>{{ name }}</s>{%  endif %}
          </a>
        {% endfor %}
      {% endfor %}

    </div>
    <div class="card-footer bg-secondary">
      {% if type == 'gumroad' %}
        <a class="btn {{ 'btn-dark' if loop.index != 2 else 'btn-success' }} btn-block"
           href="{{ link }}" target="_blank" data-gumroad-single-product="true">
          <strong>{{ text }}</strong>
        </a>
      {% else %}
        <a class="btn {{ 'btn-dark' if loop.index != 2 else 'btn-success' }} btn-block"
           href="{{ link }}">
          <strong>{{ text }}</strong>
        </a>
      {% endif %}
    </div>
  </div>
{%  endfor %}
</div>
