{% extends "distro.html" %}
{% import "snippets.html" as snippets %}

{% block title -%}
  Install {{ app.name }} in {{ distro.name }} {{ release.name if release else "" }} • {{ super() }}
{%- endblock %}

{%  block heading %}
  <h1 class="install-app">
    <a class="btn btn-secondary btn-lg" href="/index{{ distro_spec }}/">
      <img class="icon" src="/static/icons/ic_home_white_48dp.png">
      Index
    </a>
    → {{ app.name }} script {{ app.version }}
  </h1>
{%  endblock %}

{% block tab_content %}
  {{ snippets.fedora_install_app_with_gnome_software(app, distro_spec, "e.g., GNOME Shell") }}
{% endblock %}
