<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if canonical_path %}
      <link rel="canonical" href="{{ root }}{{ canonical_path }}"/>
    {% endif %}
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}
      <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/css/app.css">
    {% endblock %}
  {% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img alt="Brand" src="https://tiliado.eu/static/nuvolaplayer/logo.png" width="32" height="32"/>
      </a>
      <a class="navbar-brand" href="https://tiliado.eu/nuvolaplayer/">Nuvola Apps</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://tiliado.eu/nuvolaplayer/">About</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/">Install</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://tiliado.github.io/nuvolaplayer/documentation/4/help.html">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://tiliado.github.io/nuvolaplayer/documentation/4.html">Documentation</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <noscript>
    <div class="container">
      <div class="alert alert-warning" role="alert">
        This website requires <strong>JavaScript</strong> to function properly.
      </div>
    </div>
  </noscript>

  {% block content %}{% endblock %}
  {% block scripts %}
    <script src="/static/jquery/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/app.js"></script>
  {% endblock %}
</body>
</html>
