<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if canonical_path %}
      <link rel="canonical" href="{{ root }}{{ canonical_path }}"/>
    {% endif %}
    <title>{% block title %}Nuvola Apps{% endblock %}</title>
    {% block styles %}
      <noscript>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
      </noscript>
      <script>
        var _DEFAULT_THEME_URL = '/static/bootstrap/css/bootstrap.min.css';
        function _getTheme () {
          return localStorage.getItem('nuvola-theme')
        }
        function _getThemeURL (theme) {
          return (theme && theme !== 'default'
              ? 'https://bootswatch.com/4/' + theme + '/bootstrap.css' : _DEFAULT_THEME_URL)
        }
        function _setTheme (theme) {
          var url = _getThemeURL(theme)
          var stylesheet = document.getElementById('bootstrap4-css')
          if (!stylesheet || stylesheet.href !== url) {
            var stylesheet2 = document.createElement('link')
            stylesheet2.rel = 'stylesheet'
            stylesheet2.href = url
            stylesheet2.id = 'bootstrap4-css'
            stylesheet2.onerror = function () {
              this.href = _DEFAULT_THEME_URL
            }
            if (stylesheet) {
              stylesheet.id = ''
              stylesheet2.onload = function () {
                stylesheet.parentNode.removeChild(stylesheet)
              }
              stylesheet.parentNode.insertBefore(stylesheet2, stylesheet)
            } else {
              var title = document.getElementsByTagName('title')[0]
              title.parentNode.insertBefore(stylesheet2, title.nextSibling)
            }
          }
        }
        document.write('<link rel="stylesheet" href="' + _getThemeURL(_getTheme()) + '">')
      </script>
      <link rel="stylesheet" href="/static/css/app.css">
      <link href="/static/font-awesome/css/all.css" rel="stylesheet">
      <link rel="shortcut icon" href="/static/favicon.png">
    {% endblock %}
  {% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img alt="Brand" src="/static/favicon.png" width="32" height="32"/>
      </a>
      <a class="navbar-brand" href="/">Nuvola Apps</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if navbar == 'about' %}active{% endif %}">
            <a class="nav-link" href="/">About</a>
          </li>
          <li class="nav-item {% if navbar_tab == 'install' %}active{% endif %}">
            <a class="nav-link" href="/index/">Install</a>
          </li>
          <li class="nav-item{% if navbar == 'help' %}active{% endif %}">
            <a class="nav-link" href="/help/">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://tiliado.github.io/nuvolaplayer/documentation/4.html">Documentation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://gumroad.com/nuvola">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://tiliado.github.io/nuvolaplayer/development/">Development</a>
          </li>
          <li class="nav-item {% if navbar_tab == 'team' %}active{% endif %}">
            <a class="nav-link" href="/team/">Team</a>
          </li>
        </ul>
        <div class="form-inline">
          <a href="https://tiliado.eu/accounts/profile/" class="btn btn-outline-light">Tiliado Account</a>
        </div>
      </div>
    </div>
  </nav>
  <noscript>
    <div class="container">
      <div class="alert alert-warning" role="alert">
        This website requires <strong>JavaScript</strong> to function properly.
      </div>
    </div>
  </noscript>

  {% block content %}{% endblock %}

  <footer class="text-light bg-primary">
    <div class="container">
      <div class="row text-center p-3 mt-5">
        <div class="col" id="footer-text">
          &copy; 2014-2018 Jiří Janoušek
          • Built with <a href="https://getbootstrap.com/" class="text-light">Bootstrap</a>
          • <a href="https://github.com/tiliado/nuvola.tiliado.eu" class="text-light">Source code</a>
        </div>
      </div>
    </div>
  </footer>

  {% block scripts %}
    <script src="/static/jquery/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/app.js"></script>
  {% endblock %}
</body>
</html>
