{% extends "base.html" %}

{% block content %}
  <div class="install-app install-nuvola container">
    <div>
      {%  block heading %}{% endblock %}
      <div class="alert alert-warning not-amd64" role="alert">
        Nuvola Apps Repository provides <strong>only 64bit flatpak builds (amd64)</strong>.
        32bit and ARM packages may be provided in the future.
      </div>
      <noscript>
        <div class="alert alert-info" role="alert">
          Nuvola Apps Repository provides <strong>only 64bit flatpak builds (amd64)</strong>.
            32bit and ARM packages may be provided in the future.
        </div>
      </noscript>
      <div class="alert alert-info" role="alert">
        If you have any troubles,
        <a class="alert-link" href="https://github.com/tiliado/nuvolaruntime/issues/new">report
          your issue to request assistance</a>.
      </div>
      <div class="card">
        <div class="card-header">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs card-header-tabs" role="tablist">
            {% for d in distributions %}
              <li role="presentation" class="nav-item">
                <a class="nav-link {% if d.id == distro.id %}active{% endif %}"
                  href="{{ tab_target }}/{{ d.id }}/" role="tab">{{ d.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- Tab panes -->
        <div class="card-body">
          {% if releases %}
            <div class="card">
              <div class="card-header">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                  {% for r in releases %}
                    <li role="presentation" class="nav-item">
                      <a class="nav-link {% if release and r.id == release.id %}active{% endif %}"
                        href="{{ tab_target }}/{{ distro.id }}/{{ r.id }}/" role="tab">{{ r.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              <!-- Tab panes -->
              <div class="card-body">
          {% endif %}
          {% block tab_content %}
          {% endblock %}
          {% if releases %}
                </div>
              </div>
          {% endif %}
        </div>
      </div>
    </div>

  </div><!-- /.container -->

{% endblock %}
