{% extends "base.html" %}
{% block title %}{{ title }} • {{ super() }}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 {{ 'col-lg-3' if toc else 'd-none' }}">
        {% if toc %}
          <div class="px-3 pt-3 pb-0 mb-5 border border-dark rounded" id="toc-wrapper">
            <h5>
              Contents
              <button class="btn btn-link" data-toggle="collapse" data-target="#toc"
                      aria-expanded="true" aria-controls="toc"><small>show</small> <small>hide</small></button>
            </h5>
            <div class="collapse show" id="toc">
            {{ toc | safe }}
            </div>
          </div>
        {% endif %}
      </div>
      <div class="col-12 {{ 'col-lg-9' if toc }}">
        {% if path.startswith('/docs/4/') and path != '/docs/' %}
          <nav aria-label="breadcrumb">
            {% set sections = {
               'releases': 'Release Notes'
               }
            %}
            <ol class="breadcrumb">
              <li class="breadcrumb-item {{ 'active' if path == '/docs/' }}">
                <a href="{{ webroot }}/">Documentation</a>
              </li>
              {% if path == '/docs/4/' %}
                <li class="breadcrumb-item active"><a href="/docs/4/">Nuvola Apps 4</a></li>
              {% elif path.startswith('/docs/4/') %}
                <li class="breadcrumb-item {{ 'active' if path == '/docs/4/' }}"><a href="/docs/4/">Nuvola Apps 4</a></li>
                {% set section = path.split('/')[3] %}
                {% set section_path = '/docs/4/' + section + '/' %}
                {% set section_name = sections[section] %}
                {% if not section_name %}
                  <li class="breadcrumb-item active" aria-current="page"><a href="{{ path }}">{{ title }}</a></li>
                {% elif path == section_path %}
                  <li class="breadcrumb-item active" aria-current="page"><a href="{{ section_path }}">{{ section_name }}</a></li>
                {% else %}
                  <li class="breadcrumb-item"><a href="{{ section_path }}">{{ section_name }}</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><a href="{{ path }}">{{ title }}</a></li>
                {% endif %}
              {% endif %}
            </ol>
          </nav>
        {% endif %}
        {{ body | safe }}
        <hr />
        <div class="card border-info mb-3">
          <div class="card-header bg-info text-light">Questions? Feedback? Found Bug?</div>
          <div class="card-body">
            <p class="card-text">
              <strong>Having trouble? We'd like to help!</strong> But you need to tell us. I'd like to ...
              <ul>
                <li>
                  <a href="https://github.com/tiliado/nuvolaruntime/issues/new?template=bug-report.md">Report a bug</a>
                  following <a href="https://github.com/tiliado/nuvolaruntime/wiki/Bug-Reporting-Guidelines">guidelines</a>.
                </li>
                <li>
                  <a href="https://github.com/tiliado/nuvolaruntime/issues/new?template=question.md">Ask a queston</a>.
                </li>
                <li>
                  <a href="https://github.com/tiliado/nuvolaruntime/issues/new?template=feature-request.md">Suggest a feature</a>.
                </li>
              </ul>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
