{% extends "base.html" %}
{% block title %}{{ title }} • {{ super() }}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 {{ 'col-lg-3' if toc else 'd-none' }}">
        {% if toc %}
          <div class="px-3 pt-3 pb-0 mb-5 border border-dark rounded" id="toc-wrapper">
            <h5>
              Contents
              <button class="btn btn-link" data-toggle="collapse" data-target="#toc"
                      aria-expanded="true" aria-controls="toc"><small>show</small> <small>hide</small></button>
            </h5>
            <div class="collapse show" id="toc">
            {{ toc | safe }}
            </div>
          </div>
        {% endif %}
      </div>
      <div class="col-12 {{ 'col-lg-9' if toc }}">
        {% if path.startswith('/docs/4/') and path != '/docs/' %}
          <nav aria-label="breadcrumb">
            {% set sections = {
              'features': 'Features', 'preferences': 'Preferences',
               'news': 'News', 'releases': 'Release Notes'
               }
            %}
            <ol class="breadcrumb">
              <li class="breadcrumb-item {{ 'active' if path == '/docs/' }}">
                <a href="{{ webroot }}/">Documentation</a>
              </li>
              {% if path == '/docs/4/' %}
                <li class="breadcrumb-item active"><a href="/docs/4/">Nuvola Apps 4</a></li>
              {% elif path.startswith('/docs/4/') %}
                <li class="breadcrumb-item {{ 'active' if path == '/docs/4/' }}"><a href="/docs/4/">Nuvola Apps 4</a></li>
                {% for section, name in sections.items() %}
                  {% set section_path = '/docs/4/' + section + '/' %}
                  {% if path == section_path %}
                    <li class="breadcrumb-item active" aria-current="page"><a href="{{ section_path }}">{{ name }}</a></li>
                  {% elif path.startswith(section_path) %}
                    <li class="breadcrumb-item"><a href="{{ section_path }}">{{ name }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="{{ path }}">{{ title }}</a></li>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </ol>
          </nav>
        {% endif %}
        {{ body | safe }}</div>
    </div>
  </div>
{% endblock %}
