{% extends "base.html" %}
{% import "snippets.html" as snippets %}

{% block title %}{{ nuvola.name }} Repository Index{% endblock %}

{% block content %}
  <div id="index" class="container">
    <p>
      <span class="glyphicon glyphicon-info-sign"></span>
      This repository provides cross-distribution flatpak packages of
      <a href="https://tiliado.github.io/nuvolaplayer/documentation/4.html">
        Nuvola Apps 4.x Rolling Releases</a>.
    </p>

    {{ snippets.table_of_apps(apps, distro_spec) }}
  </div>
{% endblock %}
