{% extends "nuvola.html" %}
{% import "snippets.html" as snippets %}
{% import "snippets_opensuse.html" as opensuse %}

{% block tab_content %}

  {{ opensuse.install_flatpak_with_gui() }}

  {{ snippets.about_flatpak_repositories() }}

  <h4>KDE Plasma Workstation</h4>
  {{ opensuse.add_repositories_with_kde_discover(False) }}

  <h4>GNOME Workstation</h4>
  <p>
    Although GNOME Software can open Flatpak repository files
    (<code>*.flatpakrepo</code>) directly since the version 3.22,
    <a href="https://bugzilla.opensuse.org/show_bug.cgi?id=1098923">this feature
      is currently broken in Leap 15.0</a> (it works in OpenSUSE Tumbleweed
    though). You need to run following commands instead:
  </p>
  <ol>
    <li><code>wget https://dl.flathub.org/repo/flathub.flatpakrepo</code></li>
    <li><code>wget https://dl.tiliado.eu/flatpak/nuvola.flatpakrepo</code></li>
    <li><code>gnome-software --local-filename flathub.flatpakrepo</code></li>
    <li><code>gnome-software --local-filename nuvola.flatpakrepo</code></li>
  </ol>
  <p>Finally, refresh the database of packages: Launch <em>GNOME
    Software</em> → switch to the <em>Updates</em> screen
    → click the <em>Refresh</em> button in the top left corner. </p>

  <div class="gallery">
    <div class="container-fluid text-center">
      <div class="row">
        <a href="/screenshots/nuvola/fedora_software_main_screen_click_updates.png"
           class="col-sm-6">
          <img
              src="/screenshots/nuvola/fedora_software_main_screen_click_updates.thumb.png"
              class="img-thumbnail"
              alt="Launch GNOME Software and switch to the 'Updates' screen.">
        </a>
        <a href="/screenshots/nuvola/fedora_software_updates_click_refresh.png"
           class="col-sm-6">
          <img
              src="/screenshots/nuvola/fedora_software_updates_click_refresh.thumb.png"
              class="img-thumbnail"
              alt="Click the 'Refresh' button.">
        </a>
      </div>
    </div>
  </div>

  <h4>From Terminal</h4>
  {{ snippets.add_flatpak_repositories_from_command_line() }}

  {{ snippets.about_nuvola_service() }}

  <h4>KDE Plasma Workstation</h4>
  {{ opensuse.install_nuvola_service_with_kde_discover("leap150") }}

  <h4>GNOME Workstation</h4>
  {{ opensuse.install_nuvola_service_with_gnome_software("leap150") }}

  <h4>From Terminal</h4>
  {{ opensuse.install_nuvola_service_from_terminal("leap150") }}

  {{ snippets.install_individual_apps(apps, distro_spec) }}

{% endblock %}
