{% extends "nuvola.html" %}
{% import "snippets.html" as snippets %}

{% block tab_content %}

  <h2>Install Flatpak</h2>
  <p>
    <strong>Flatpak</strong> is a cross-distribution framework for distribution and running of
    sandboxed applications.
    <strong>XDG Desktop Portal</strong> provides {{ nuvola.name }} with desktop integration.
    Flatpak is not available in the elementaryOS 0.4 Loki repository but there is the
    <a href="https://launchpad.net/~alexlarsson/+archive/ubuntu/flatpak">Flatpak PPA on Launchpad</a>.
  </p>
  <ol>
    <li>Launch <a href="https://help.ubuntu.com/community/UsingTheTerminal">a Linux terminal emulator</a>.</li>
    <li>Type <code>sudo apt install software-properties-common --no-install-recommends</code> and press the Enter key to
      install repository management tools.
    </li>
    <li>Type <code>sudo add-apt-repository ppa:alexlarsson/flatpak</code> and press the Enter key to add the Flatpak
      repository.
    </li>
    <li>Then type <code>sudo apt update</code> and press the Enter key to refresh a package cache.</li>
    <li>Finally, type <code>sudo apt install flatpak xdg-desktop-portal-gtk</code> and press the Enter key
      to install Flatpak and Desktop Portal.</li>
  </ol>

  <h2>Restart your computer</h2>
  <p>
    It is necessary to restart your computer to add Flatpak paths alongside the system ones.
    Otherwise, you may see strange errors. Unfortunately, just logging out and logging in is not enough.
  </p>

  {{ snippets.ubuntu_add_flatpak_repositories_from_command_line() }}
  {{ snippets.ubuntu_install_nuvola_service_from_command_line() }}
  {{ snippets.install_individual_apps(apps, distro_spec) }}

{% endblock %}
