{% extends "nuvola.html" %}
{% import "snippets.html" as snippets %}

{% block tab_content %}

  <h2>Install Flatpak and Friends</h2>
  <p>
    <strong>Flatpak</strong> is a cross-distribution framework for distribution and running of
    sandboxed applications.
    <strong>XDG Desktop Portal</strong> provides {{ nuvola.name }} with desktop integration.
    All packages are available in the Ubuntu 17.10 repository. No third-party PPA is required.
  </p>
  <ol>
    <li>
      <a class="btn btn-primary" href="apt:flatpak">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        Click to install Flatpak with Ubuntu Software
      </a>
    </li>
    <li>
      <a class="btn btn-primary" href="apt:xdg-desktop-portal-gtk">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        Click to install XDG Desktop Portal with Ubuntu Software
      </a>
    </li>
    <li>
      <a class="btn btn-primary" href="apt:gnome-software-plugin-flatpak">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        Click to install the Flatpak plugin for Ubuntu Software
      </a>
    </li>
  </ol>
  <p>
    Alternatively, launch <a href="https://help.ubuntu.com/community/UsingTheTerminal">a Linux terminal emulator</a>
    and type <code>sudo apt-get install flatpak xdg-desktop-portal-gtk gnome-software-plugin-flatpak</code>
    and press the Enter key to install these packages.
  </p>

  <h2>Restart your computer</h2>
  <p>
    It is necessary to restart your computer to add Flatpak paths alongside the system ones and to activate
    the Ubuntu Software Flatpak Plugin. Otherwise, you may see strange errors.
    Unfortunately, just logging out and logging in is not enough.
  </p>

  <h2>Add Flathub and Nuvola Apps Repositories</h2>
  <p>
    The <strong>Flathub repository</strong> provides GNOME Platform runtime, which is used by Nuvola to share common
    dependencies with other Flatpak apps to reduce disk & memory usage. The <strong>Nuvola Apps</strong> repository
    contains <em>Nuvola Apps Service</em> and individual Nuvola web apps.
  </p>
  <ol>
    <li>
      <a class="btn btn-primary" href="https://dl.flathub.org/repo/flathub.flatpakrepo">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        Click to install Flathub repository with Ubuntu Software
      </a>
    </li>
    <li>
      <a class="btn btn-primary" href="https://dl.tiliado.eu/flatpak/nuvola.flatpakrepo">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        Click to install Nuvola Apps repository with Ubuntu Software
      </a>
    </li>
    <li>
      Refresh Ubuntu Software package cache: Launch <em>Ubuntu Software</em> → switch to the <em>Updates</em> tab →
      click the <em>Refresh</em> button in the top left corner.
    </li>
  </ol>
  <p>
    Alternatively, launch <a href="https://help.ubuntu.com/community/UsingTheTerminal">a Linux terminal emulator</a>,
    type <code>flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo</code> and
    <code>flatpak remote-add --if-not-exists nuvola https://dl.tiliado.eu/flatpak/nuvola.flatpakrepo</code>.
  </p>

  {{ snippets.purge_old_nuvola() }}
  {{ snippets.ubuntu_install_nuvola_service_wtih_gnome_software() }}
  {{ snippets.install_individual_apps(apps, distro_spec) }}

{% endblock %}
