{% extends "nuvola.html" %}
{% import "snippets.html" as snippets %}
{% import "snippets_opensuse.html" as opensuse %}

{% block tab_content %}

  {{ opensuse.install_flatpak_with_gui() }}

  {{ snippets.about_flatpak_repositories() }}

  <h4>KDE Plasma Workstation</h4>
  {{ opensuse.add_repositories_with_kde_discover() }}

  <h4>GNOME Workstation</h4>
  {{ opensuse.add_repositories_with_gnome_software() }}

  <h4>From Terminal</h4>
  {{ snippets.add_flatpak_repositories_from_command_line() }}

  {{ snippets.about_nuvola_service() }}

  <h4>KDE Plasma Workstation</h4>
  {{ opensuse.install_nuvola_service_with_kde_discover("tumbleweed") }}

  <h4>GNOME Workstation</h4>
  {{ opensuse.install_nuvola_service_with_gnome_software("tumbleweed") }}

  <h4>From Terminal</h4>
  {{ opensuse.install_nuvola_service_from_terminal("tumbleweed") }}

  {{ snippets.install_individual_apps(apps, distro_spec) }}

{% endblock %}
