{% extends "nuvola.html" %}
{% import "snippets.html" as snippets %}

{% block tab_content %}

  <h2>Install Flatpak & Friends</h2>
  <p>
    <strong>Flatpak</strong> is a cross-distribution framework for distribution and running of
    sandboxed applications.
    <strong>XDG Desktop Portal</strong> provides {{ nuvola.name }} with desktop integration.
    Flatpak is not available in the Ubuntu 16.04 repository but there is the
    <a href="https://launchpad.net/~alexlarsson/+archive/ubuntu/flatpak">Flatpak PPA on Launchpad</a>.
  </p>

  {{ snippets.ubuntu_install_flatpak_from_ppa() }}
  {{ snippets.ubuntu_add_flatpak_repositories_from_command_line() }}
  {{ snippets.purge_old_nuvola() }}
  {{ snippets.ubuntu_install_nuvola_service_from_command_line() }}
  {{ snippets.install_individual_apps(apps, distro_spec) }}

{% endblock %}
