{% extends "distro.html" %}
{% import "snippets.html" as snippets %}

{% block title -%}
  Install {{ nuvola.name }} Runtime on {{ distro.name }} {{ release.name if release else "" }} • {{ super() }}
{%- endblock %}

{% block heading %}
  <h1 class="install-nuvola">
    <a class="btn btn-secondary btn-lg" href="/index{{ distro_spec }}/">
      <img class="icon" src="/static/icons/ic_home_white_48dp.png">
      Index
    </a>
    → Install {{ nuvola.name }} Runtime
  </h1>
{% endblock %}

{% block tab_content %}
  <h2>Install Flatpak and Friends</h2>
  <ul>
    <li>
      <strong>Flatpak</strong> is a cross-distribution framework for distribution and running of
      sandboxed applications. Follow <a href="https://flatpak.org/setup/">official quick setup instructions</a> or
      <a href="https://github.com/flatpak/flatpak">build it from the source code</a>.
    </li>
    <li>
      <strong>XDG Desktop Portal</strong> provides {{ nuvola.name }} with desktop integration. Install it with your
      package manager or <a href="https://github.com/flatpak/xdg-desktop-portal">build it from the source code</a>.
    </li>
    <li>
      <strong>GNOME Software</strong> provides {{ nuvola.name }} makes the browsing and installation of Flatpaks
      easier. Install it with your package manager or
      <a href="https://download.gnome.org/sources/gnome-software/">build it from the source code</a>.
    </li>
    <li>
      Then <strong>restart your computer</strong> to add Flatpak paths alongside the system ones. Otherwise,
      you may see strange errors. Unfortunately, just logging out and logging in is not enough.
    </li>
  </ul>

  {{ snippets.fedora_add_repositories_with_gnome_software() }}
  {{ snippets.purge_old_nuvola() }}
  {{ snippets.fedora_install_nuvola_service_with_gnome_software() }}
  {{ snippets.install_individual_apps(apps, distro_spec) }}

{% endblock %}
