{# ================================ COMMON =============================== #}

{% macro about_nuvola_service() %}
  <h2>Install {{ nuvola.name }} Service</h2>
  <p>
    <strong>Nuvola Apps Service</strong> is an optional background service that provides individual Nuvola apps with
    global shared resources such as a global configuration storage, global keyboard shortcuts, a HTTP remote control
    server, and a command-line controller. While this service is optional, the installation is recommended.
  </p>
{% endmacro %}

{%  macro about_flatpak_repositories() %}
  <h2>Add Flathub and Nuvola Apps Repositories</h2>
  <p>
    The <strong>Flathub repository</strong> provides GNOME Platform runtime, which is used by Nuvola to share common
    dependencies with other Flatpak apps to reduce disk & memory usage. The <strong>Nuvola Apps</strong> repository
    contains <em>Nuvola Apps Service</em> and individual Nuvola web apps.
  </p>
{% endmacro %}

{% macro table_of_apps(apps, distro_spec) %}
  <div class="row align-items-center justify-content-center text-center">
    {% for app in apps %}
      <div class="col-6 col-md-4 col-lg-3 mb-4 mt-3">
        <a href="/app/{{ app.id }}{{ distro_spec }}/" class="d-block w-75 mb-3 mx-auto"
           style="height: 80px; background: url(/static/apps/{{ app.id }}.png) center center no-repeat; background-size: contain;"
        ><span class="sr-only">Install {{ app.name }}</span></a>
        <strong><a href="/app/{{ app.id }}{{ distro_spec }}/">{{ app.name }}</a></strong><br>
        Version {{ app.version }}<br>
        <a href="{{ app.maintainer_link }}">{{ app.maintainer }}</a>
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro install_individual_apps(apps, distro_spec) %}
  <h2>Install Individual Apps</h2>
  {{ table_of_apps(apps, distro_spec) }}
{% endmacro %}

{% macro purge_old_nuvola() %}
<h2>Purge Old Nuvola Installations</h2>
<p>
  If you used Nuvola in the past, it is necessary to purge the old installation. Otherwise,
  compatibility issues may occur. Run following commands in terminal:
</p>
<pre><code>sudo apt-get remove nuvolaplayer*
rm -rf ~/.cache/nuvolaplayer3
rm -rf ~/.local/share/nuvolaplayer3
rm -rf ~/.config/nuvolaplayer3
rm -f ~/.local/share/applications/nuvolaplayer3*</code></pre>
{% endmacro %}

{% macro generic_launch_app(app, environments) %}
  <h2>Launch {{ app.name }} </h2>
  <ul>
    <li>
      You should be able to find {{ app.name }} in a list of installed applications. If not, you may have forgotten
      to log out and log in and your desktop environment ({{ environments }}) has not find out yet
      that a new application has been installed.
    </li>
    <li>
      Alternatively, you can launch {{ app.name }} from a terminal:
      <br/><code>flatpak run {{ app.uid }}</code>
    </li>
  </ul>
{% endmacro %}

{% macro generic_add_flatpak_repositories_from_command_line() %}
  {{ about_flatpak_repositories() }}
  <p>
    Launch a Linux terminal emulator,
    type <code>flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo</code>,
    <code>flatpak remote-add --if-not-exists nuvola https://dl.tiliado.eu/flatpak/nuvola.flatpakrepo</code>,
    and <code>flatpak update</code>.
  </p>
{% endmacro %}

{% macro generic_install_nuvola_service_from_command_line() %}
  {{ about_nuvola_service() }}
  <p>
    Launch a Linux terminal emulator,
    type <code>flatpak install nuvola {{ nuvola.uid }}</code> and press the Enter key to install this package.
  </p>
{% endmacro %}

{% macro generic_install_app_from_commandline(app, distro_spec, environments) %}
  <h2>Install {{ app.name }}</h2>
  <ol>
    <li>
      <a href="/nuvola{{ distro_spec }}/">Install Flatpak and add {{ nuvola.name }} repository</a>.
    </li>
    <li>
      Launch a Linux terminal emulator,
      type <code>flatpak install nuvola {{ app.uid }}</code> and press the Enter key to install this package.
    </li>
    <li>
      Then <strong>log out and log in back</strong> to let your desktop environment ({{ environments }}) find out that
      a new application has been installed. Otherwise, you may see "Unknown Application Name" in the menu bar,
      mismatched application icons and other funny bugs.
    </li>
  </ol>
  {{ generic_launch_app(app, environments) }}
{% endmacro %}

{# ================================ UBUNTU =============================== #}

{%  macro ubuntu_install_flatpak_with_gnome_software(ubuntu_version, img_suffix="") %}
  <h2>Install Flatpak and Friends</h2>
  <p>
    <strong>Flatpak</strong> is a cross-distribution framework for distribution and running of
    sandboxed applications.
    <strong>XDG Desktop Portal</strong> provides {{ nuvola.name }} with desktop integration.
    All packages are available in the Ubuntu {{ ubuntu_version }} repository. No third-party PPA is required.
  </p>
  <ol>
    <li>
      <a class="btn btn-primary" href="apt:flatpak">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        Click to install Flatpak with Ubuntu Software
      </a>
    </li>
    <li>
      <a class="btn btn-primary" href="apt:xdg-desktop-portal-gtk">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        Click to install XDG Desktop Portal with Ubuntu Software
      </a>
    </li>
    <li>
      <a class="btn btn-primary" href="apt:gnome-software-plugin-flatpak">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        Click to install the Flatpak plugin for Ubuntu Software
      </a>
    </li>
  </ol>
  <p>
    Alternatively, launch <a href="https://help.ubuntu.com/community/UsingTheTerminal">a Linux terminal emulator</a>
    and type <code>sudo apt-get install flatpak xdg-desktop-portal-gtk gnome-software-plugin-flatpak</code>
    and press the Enter key to install these packages.
  </p>

  <h2>Restart your computer</h2>
  <p>
    It is necessary to restart your computer to add Flatpak paths alongside the system ones and to activate
    the Ubuntu Software Flatpak Plugin. Otherwise, you may see strange errors.
    Unfortunately, just logging out and logging in is not enough.
  </p>

  <h2>Add Flathub and Nuvola Apps Repositories</h2>
  <p>
    The <strong>Flathub repository</strong> provides GNOME Platform runtime, which is used by Nuvola to share common
    dependencies with other Flatpak apps to reduce disk & memory usage. The <strong>Nuvola Apps</strong> repository
    contains <em>Nuvola Apps Service</em> and individual Nuvola web apps.
  </p>
  <ol>
    <li>
      <a class="btn btn-primary" href="https://dl.flathub.org/repo/flathub.flatpakrepo">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        Click to install Flathub repository with Ubuntu Software
      </a>
    </li>
    <li>
      <a class="btn btn-primary" href="https://dl.tiliado.eu/flatpak/nuvola.flatpakrepo">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        Click to install Nuvola Apps repository with Ubuntu Software
      </a>
    </li>
    <li>
      <p>
        Refresh Ubuntu Software package cache: Launch <em>Ubuntu Software</em> → switch to the <em>Updates</em> screen
        → click the <em>Refresh</em> button in the top left corner.
      </p>
      <div class="gallery">
        <div class="container-fluid text-center">
          <div class="row">
            <a href="/screenshots/nuvola/ubuntu_software_main_screen_click_updates{{ img_suffix }}.png" class="col-sm-6">
              <img src="/screenshots/nuvola/ubuntu_software_main_screen_click_updates{{ img_suffix }}.thumb.png"
                   class="img-thumbnail"
                   alt="Launch Ubuntu Software and switch to the 'Updates' screen.">
            </a>
            <a href="/screenshots/nuvola/ubuntu_software_updates_click_refresh{{ img_suffix }}.png" class="col-sm-6">
              <img src="/screenshots/nuvola/ubuntu_software_updates_click_refresh{{ img_suffix }}.thumb.png"
                   class="img-thumbnail"
                   alt="Click the 'Refresh' button.">
            </a>
          </div>
        </div>
      </div>
    </li>
  </ol>
  <p>
    Alternatively, launch <a href="https://help.ubuntu.com/community/UsingTheTerminal">a Linux terminal emulator</a>,
    type <code>flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo</code>,
    <code>flatpak remote-add --if-not-exists nuvola https://dl.tiliado.eu/flatpak/nuvola.flatpakrepo</code>,
    and <code>flatpak update</code>.
  </p>
{%  endmacro %}

{% macro ubuntu_install_flatpak_from_ppa() %}
  <ol>
    <li>Launch <a href="https://help.ubuntu.com/community/UsingTheTerminal">a Linux terminal emulator</a>.</li>
    <li>
      Type <code>sudo add-apt-repository ppa:alexlarsson/flatpak</code> and press the Enter key to add the Flatpak
      repository.
    </li>
    <li>Then type <code>sudo apt-get update</code> and press the Enter key to refresh a package cache.</li>
    <li>
      Finally, type <code>sudo apt-get install flatpak xdg-desktop-portal-gtk</code> and press the Enter key to
      install Flatpak and Desktop Portal.
    </li>
  </ol>

  <h2>Restart your computer</h2>
  <p>
    It is necessary to restart your computer to add Flatpak paths alongside the system ones.
    Otherwise, you may see strange errors. Unfortunately, just logging out and logging in is not enough.
  </p>
{% endmacro %}

{% macro ubuntu_add_flatpak_repositories_from_command_line() %}
  {{ about_flatpak_repositories() }}
  <p>
    Launch <a href="https://help.ubuntu.com/community/UsingTheTerminal">a Linux terminal emulator</a>,
    type <code>flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo</code>,
    <code>flatpak remote-add --if-not-exists nuvola https://dl.tiliado.eu/flatpak/nuvola.flatpakrepo</code>,
    and <code>flatpak update</code>.
  </p>
{% endmacro %}

{% macro ubuntu_install_nuvola_service_from_command_line() %}
  {{ about_nuvola_service() }}
  <p>
    Launch <a href="https://help.ubuntu.com/community/UsingTheTerminal">a Linux terminal emulator</a>,
    type <code>flatpak install nuvola {{ nuvola.uid }}</code> and press the Enter key to install this package.
  </p>
{% endmacro %}

{% macro ubuntu_install_nuvola_service_wtih_gnome_software(img_suffix="") %}

  {{ about_nuvola_service() }}
  <p>
    In order to <strong>install Nuvola Apps Service with Ubuntu Software</strong>, launch <em>Ubuntu Software</em>,
    search for <em>Nuvola Apps Service</em> and finally click the <em>Install</em> button.
  </p>
  <div class="gallery">
    <div class="container-fluid text-center">
      <div class="row">
        <a href="/screenshots/nuvola/ubuntu_software_search_for_nuvola_service_steps{{ img_suffix }}.png" class="col-sm-6">
          <img src="/screenshots/nuvola/ubuntu_software_search_for_nuvola_service_steps{{ img_suffix }}.thumb.png" class="img-thumbnail"
               alt="Launch Ubuntu Software and search for '{{ nuvola.name }}'.">
        </a>
        <a href="/screenshots/nuvola/ubuntu_software_install_nuvola_service_steps{{ img_suffix }}.png" class="col-sm-6">
          <img src="/screenshots/nuvola/ubuntu_software_install_nuvola_service_steps{{ img_suffix }}.thumb.png" class="img-thumbnail"
               alt="Click the 'Install' button.">
        </a>
      </div>
    </div>
  </div>
  <p>
    Alternatively, launch <a href="https://help.ubuntu.com/community/UsingTheTerminal">a Linux terminal emulator</a>,
    type <code>flatpak install nuvola {{ nuvola.uid }}</code> and press the Enter key to install this package.
  </p>
{% endmacro %}

{% macro ubuntu_install_app_with_ubuntu_software(app, distro_spec, environments, img_suffix="") %}
  <h2>Install {{ app.name }}</h2>
  <ol>
    <li>
       <a href="/nuvola{{ distro_spec }}/">Install Flatpak and add {{ nuvola.name }} repository</a>.
    </li>
    <li>
      <p>
        In order to <strong>install {{ app.name }} with Ubuntu Software</strong>, launch <em>Ubuntu Software</em>,
        search for <em>{{ app.name }}</em> and finally click the <em>Install</em> button.
      </p>
      <div class="gallery">
        <div class="container-fluid text-center">
          <div class="row">
            <a href="/screenshots/nuvola/ubuntu_software_search_for_nuvola_app_steps{{ img_suffix }}.png" class="col-sm-6">
              <img src="/screenshots/nuvola/ubuntu_software_search_for_nuvola_app_steps{{ img_suffix }}.thumb.png" class="img-thumbnail"
              alt="Launch Ubuntu Software and search for '{{ app.name }}'.">
            </a>
            <a href="/screenshots/nuvola/ubuntu_software_install_nuvola_app_steps{{ img_suffix }}.png" class="col-sm-6">
              <img src="/screenshots/nuvola/ubuntu_software_install_nuvola_app_steps{{ img_suffix }}.thumb.png" class="img-thumbnail"
              alt="Click the 'Install' button.">
            </a>
          </div>
        </div>
      </div>
      <p>
        Alternatively, launch
        <a href="https://help.ubuntu.com/community/UsingTheTerminal">a Linux terminal emulator</a>,
        type <code>flatpak install nuvola {{ app.uid }}</code> and press the Enter key to install this package.
      </p>
    </li>
    <li>
      Then <strong>log out and log in back</strong> to let your desktop environment ({{ environments }}) find out that
      a new application has been installed. Otherwise, you may see "Unknown Application Name" in the menu bar,
      mismatched application icons and other funny bugs.
    </li>
  </ol>
  {{ ubuntu_launch_app(app, environments) }}
{% endmacro %}

{% macro ubuntu_install_app(app, distro_spec, environments) %}
  <h2>Install {{ app.name }}</h2>
  <ol>
    <li>
      <a href="/nuvola{{ distro_spec }}/">Install Flatpak and add {{ nuvola.name }} repository</a>.
    </li>
    <li>
      Launch <a href="https://help.ubuntu.com/community/UsingTheTerminal">a Linux terminal emulator</a>,
      type <code>flatpak install nuvola {{ app.uid }}</code> and press the Enter key to install this package.
    </li>
    <li>
      Then <strong>log out and log in back</strong> to let your desktop environment ({{ environments }}) find out that
      a new application has been installed. Otherwise, you may see "Unknown Application Name" in the menu bar,
      mismatched application icons and other funny bugs.
    </li>
  </ol>
  {{ ubuntu_launch_app(app, environments) }}
{% endmacro %}

{% macro ubuntu_launch_app(app, environments) %}
  <h2>Launch {{ app.name }} </h2>
  <ul>
    <li>
      You should be able to find {{ app.name }} in a list of installed applications. If not, you may have forgotten
      to log out and log in and your desktop environment ({{ environments }}) has not find out yet
      that a new application has been installed.
    </li>
    <li>
      Alternatively, you can launch {{ app.name }}
      from <a href="https://help.ubuntu.com/community/UsingTheTerminal">a terminal</a>:
      <br/><code>flatpak run {{ app.uid }}</code>
    </li>
  </ul>
{%  endmacro %}

{# ================================ DEBIAN =============================== #}

{% macro debian_install_flatpak_with_gnome_software(codename) %}
  <h2>Install Flatpak and Friends</h2>
  <p>
    <strong>Flatpak</strong> <sup>(<a href="https://packages.debian.org/{{ codename }}/flatpak">pkg</a>)</sup>
    is a cross-distribution framework for distribution and running of sandboxed applications.
    <strong>XDG Desktop Portal</strong>
    <sup>
      (<a href="https://packages.debian.org/{{ codename }}/xdg-desktop-portal">pkg1</a>,
      <a href="https://packages.debian.org/{{ codename }}/xdg-desktop-portal-gtk">pkg2</a>)
    </sup> provides {{ nuvola.name }} with desktop integration.
    <strong>GNOME Software with Flatpak plugin</strong><sup>
    (<a href="https://packages.debian.org/{{ codename }}/gnome-software">pkg1</a>,
    <a href="https://packages.debian.org/{{ codename }}/gnome-software-plugin-flatpak">pkg2</a>)
  </sup>
    makes the browsing and installation of Flatpaks easier.
  </p>
  <p>
    <strong>All packages are available in the repositories.</strong>
    Run <code>apt install flatpak xdg-desktop-portal-gtk xdg-desktop-portal gnome-software
    gnome-software-plugin-flatpak</code> as root/sudo.
    Then <strong>restart your computer</strong> to add Flatpak paths alongside the system ones and to activate the GNOME
    Software Flatpak plugin. Otherwise, you may see strange errors.
    Unfortunately, just logging out and logging in is not enough.
  </p>
  {{ fedora_add_repositories_with_gnome_software() }}
{% endmacro %}

{# ================================ FEDORA =============================== #}

{% macro fedora_install_flatpak_with_gnome_software() %}
  <h2>Install Flatpak and Friends</h2>
  <p>
    <strong>Flatpak</strong> is a cross-distribution framework for distribution and running of
    sandboxed applications.
    <strong>XDG Desktop Portal</strong> provides {{ nuvola.name }} with desktop integration.
  <strong>GNOME Software</strong> makes the browsing and installation of Flatpaks easier.
  </p>
  <p>
    <strong>All packages come preinstalled in Fedora Workstation.</strong> In case you removed them,
    run <code>dnf install flatpak xdg-desktop-portal-gtk xdg-desktop-portal gnome-software</code> as root/sudo.
    Then restart your computer to add Flatpak paths alongside the system ones. Otherwise,
    you may see strange errors. Unfortunately, just logging out and logging in is not enough.
  </p>
  {{ fedora_add_repositories_with_gnome_software() }}
{% endmacro %}

{% macro fedora_add_repositories_with_gnome_software() %}
  <h2>Add Flathub and Nuvola Apps Repositories</h2>
  <p>
    The <strong>Flathub repository</strong> provides GNOME Platform runtime, which is used by Nuvola to share common
    dependencies with other Flatpak apps to reduce disk & memory usage. The <strong>Nuvola Apps</strong> repository
    contains <em>Nuvola Apps Service</em> and individual Nuvola web apps.
  </p>
  <ol>
    <li>
      <a class="btn btn-primary" href="https://dl.flathub.org/repo/flathub.flatpakrepo">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        Click to install Flathub repository with GNOME Software
      </a>
    </li>
    <li>
      <a class="btn btn-primary" href="https://dl.tiliado.eu/flatpak/nuvola.flatpakrepo">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        Click to install Nuvola Apps repository with GNOME Software
      </a>
    </li>
    <li>
      <p>
        Refresh GNOME Software package cache: Launch <em>GNOME Software</em> → switch to the <em>Updates</em> screen
        → click the <em>Refresh</em> button in the top left corner.
      </p>
      <div class="gallery">
        <div class="container-fluid text-center">
          <div class="row">
            <a href="/screenshots/nuvola/fedora_software_main_screen_click_updates.png" class="col-sm-6">
              <img src="/screenshots/nuvola/fedora_software_main_screen_click_updates.thumb.png"
                   class="img-thumbnail"
                   alt="Launch GNOME Software and switch to the 'Updates' screen.">
            </a>
            <a href="/screenshots/nuvola/fedora_software_updates_click_refresh.png" class="col-sm-6">
              <img src="/screenshots/nuvola/fedora_software_updates_click_refresh.thumb.png"
                   class="img-thumbnail"
                   alt="Click the 'Refresh' button.">
            </a>
          </div>
        </div>
      </div>
    </li>
  </ol>
  <p>
    Alternatively, launch a Linux terminal emulator,
    type <code>flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo</code>,
    <code>flatpak remote-add --if-not-exists nuvola https://dl.tiliado.eu/flatpak/nuvola.flatpakrepo</code>,
    and <code>flatpak update</code>.
  </p>
{% endmacro %}

{% macro fedora_install_nuvola_service_with_gnome_software() %}

  {{ about_nuvola_service() }}
  <p>
    In order to <strong>install Nuvola Apps Service with GNOME Software</strong>, launch <em>GNOME Software</em>,
    search for <em>Nuvola Apps Service</em> and finally click the <em>Install</em> button.
  </p>
  <div class="gallery">
    <div class="container-fluid text-center">
      <div class="row">
          <a href="/screenshots/nuvola/fedora_software_search_for_nuvola_service.png" class="col-sm-6">
          <img src="/screenshots/nuvola/fedora_software_search_for_nuvola_service.thumb.png" class="img-thumbnail"
               alt="Launch Ubuntu Software and search for '{{ nuvola.name }}'.">
        </a>
        <a href="/screenshots/nuvola/fedora_software_install_nuvola_service.png" class="col-sm-6">
          <img src="/screenshots/nuvola/fedora_software_install_nuvola_service.thumb.png" class="img-thumbnail"
               alt="Click the 'Install' button.">
        </a>
      </div>
    </div>
  </div>
  <p>
    Alternatively, launch <a href="https://help.ubuntu.com/community/UsingTheTerminal">a Linux terminal emulator</a>,
    type <code>flatpak install nuvola {{ nuvola.uid }}</code> and press the Enter key to install this package.
  </p>
{% endmacro %}

{% macro fedora_install_app_with_gnome_software(app, distro_spec, environments) %}
  <h2>Install {{ app.name }}</h2>
  <ol>
    <li>
      <a href="/nuvola{{ distro_spec }}/">Install Flatpak and add {{ nuvola.name }} repository</a>.
    </li>
    <li>
      <p>
        In order to <strong>install {{ app.name }} with GNOME Software</strong>, launch <em>GNOME Software</em>,
        search for <em>{{ app.name }}</em> and finally click the <em>Install</em> button.
      </p>
      <div class="gallery">
        <div class="container-fluid text-center">
          <div class="row">
            <a href="/screenshots/nuvola/fedora_software_search_for_nuvola_app.png" class="col-sm-6">
              <img src="/screenshots/nuvola/fedora_software_search_for_nuvola_app.thumb.png" class="img-thumbnail"
                   alt="Launch Ubuntu Software and search for '{{ app.name }}'.">
            </a>
            <a href="/screenshots/nuvola/fedora_software_install_nuvola_app.png" class="col-sm-6">
              <img src="/screenshots/nuvola/fedora_software_install_nuvola_app.thumb.png" class="img-thumbnail"
                   alt="Click the 'Install' button.">
            </a>
          </div>
        </div>
      </div>
      <p>
        Alternatively, launch a Linux terminal emulator,
        type <code>flatpak install nuvola {{ app.uid }}</code> and press the Enter key to install this package.
      </p>
    </li>
    <li>
      Then <strong>log out and log in back</strong> to let your desktop environment ({{ environments }}) find out that
      a new application has been installed. Otherwise, you may see mismatched application icons and other funny bugs.
    </li>
  </ol>
  {{ generic_launch_app(app, environments) }}
{% endmacro %}
